.top-section-div{
  align-items: center;
  position: fixed;
  z-index: 5;
}
@media(max-width: 600px){ /*Mobil Görünüm*/
.top-section-div{
  background-color: rgba(255, 255, 255, 0.526); 
  display:flex;
  justify-content: space-around;
  width: 393px;
}
.logo{
  width: 80px;
}
.top-a{
  text-align: center;
  font-size: 9px;
}
.photo7{
  width: 370px;
}
.main-div{
  width: 370px;
  height: auto;
  margin-left: 15px;
}
.end,
.bot-sec-div{
display: none;
}
.company-name-p{
  width: 350px;
  margin-bottom: 10px;
}
.main-p{
  width: 370px;
}
.main-features{
  font-size: 20px;
}
.main-photo{
  width: 393px;
  margin: 0;
  object-fit: cover;
}
.photo-div{
  margin-top: 50px;
}
}
@media(min-width: 600px){
  .top-section-div{
    background-color: rgba(0, 0, 0, 0.326); 
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;
  }
  .logo{
    width: 120px;
    cursor: pointer;
  }
  a{
    margin-right: 90px;
    font-size: 18px;
  }
.main-div{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.photo7{
  width: 700px;
}
.bot-sec-div{
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 100px;
  justify-content: space-between;
}
.bot-sec-img{
  z-index: -1;
  margin-bottom: -200px;
  width: 1480px;
  height: 465px;
}
.company-name-p{
  margin: 10px;
}
.main-p{
  width: 50%;
}
.main-features{
  font-size: 30px;
}
.main-photo{
  height: 1000px;  
  width: 100%;
}
.body-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}
.left-sec-div{
  display: flex;
  justify-content: center;
}
body{
  margin: 0; 
}
a{
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: black;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
a:active{
  color: blueviolet;
}
.company-name-div{
border:solid;
background-color: rgba(58, 58, 58, 0.179);
}

.right-sec-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-name-p{
font-family: 'Instrument Serif', serif;
margin-left: 0;
font-size: 50px;
color: goldenrod;
}
.main-p{
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.main-features{
  font-weight: bold;
}


.bot-sec-p{
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  text-align: left;
  z-index: 9; 
  margin-top: -157px;
  width: 390px;
  margin-left: 165px;
  font-family: Arial, Helvetica, sans-serif;
}
.bot-mid-div{
margin-right: 300px;
margin-left: -1150px;
  margin-top: 75px;
}

.b1{
  font-weight: 200;
  color: aliceblue;
  margin-top: -10px;
}

.a1{
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 20px;
}
.end{
  bottom: 0;
  margin-top: 120px;
  margin-left: 145px;
}
.end-p{
  font-family:Arial, Helvetica, sans-serif ;
  color: aliceblue;
  font-size: 17px;
}
